:root {
  --footer-bg: #f5ebdf;
  --footer-text: #000000;
  --footer-link: #548c2f;
  --footer-border: #41736a;
}

* {
  margin: 0;
  padding: 0;
}

footer {
  background-color: var(--footer-bg);
  color: var(--footer-text);
  border-top: 4px solid var(--footer-border);
  margin: 32px;
}
footer a {
  color: var(--footer-link);
  text-decoration: none;
}

.footer-social-link {
  font-size: 2rem;
  display: inline-block;
}
.footer-link {
  font-size: 1.5rem;
}

.footer-title {
  text-align: center;
}
