
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.estilo-video {
  height: 500px
}

@media (max-width: 768px) {
  .hero-video {
    height: 300px; /* Mobile */
  }
}

.hero-video video {
  object-fit: cover;
}

.hero-video .overlay {
  background: rgba(0, 0, 0, 0.45);
}

.tapir{
  height: 500px;
  width: 500px;
  
}